@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    * {
      @apply box-border list-none p-0 m-0;
    }

    body {
      @apply min-h-screen;
    }
  }
  @layer utilities {
    /* TYPOGRAPHY */
    .h1-bold {
      @apply text-[36px] font-bold leading-[140%] tracking-tighter;
    }

    .h1-semibold {
      @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
    }

    .h2-bold {
      @apply text-[30px] font-bold leading-[140%] tracking-tighter;
    }

    .h3-bold {
      @apply text-[24px] font-bold leading-[140%] tracking-tighter;
    }

    .base-semibold {
      @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
    }

    .base-medium {
      @apply text-[16px] font-medium leading-[140%];
    }

    .base-regular {
      @apply text-[16px] font-normal leading-[140%];
    }

    .body-bold {
      @apply text-[18px] font-bold leading-[140%];
    }

    .body-medium {
      @apply text-[18px] font-medium leading-[140%];
    }

    .small-semibold {
      @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
    }

    .small-medium {
      @apply text-[14px] font-medium leading-[140%];
    }

    .small-regular {
      @apply text-[14px] font-normal leading-[140%];
    }

    .subtle-semibold {
      @apply text-[12px] font-semibold leading-[140%];
    }

    .tiny-medium {
      @apply text-[10px] font-medium leading-[140%];
    }

    /* UTILITIES */
    .invert-white {
      @apply invert brightness-0 transition;
    }

    .flex-center {
      @apply flex justify-center items-center;
    }

    .flex-between {
      @apply flex justify-between items-center;
    }

    .flex-start {
      @apply flex justify-start items-center;
    }

    .no-scrollbar::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      border-radius: 0px;
    }
    .custom-scrollbar::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-radius: 2px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
      background: #09090a/10;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #bdbdc8;
      border-radius: 50px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #7878a3;
    }
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
